# EditorConfig for Bandiera

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# configuration for C++ files
[*.{cpp,hpp}]
indent_style = space
indent_size = 2

# configuration for scripts
[*.{jl,sh,py}]
indent_style = space
tab_width = 4

# configuration for markdown
[*.md]
indent_style = space
indent_size = 2
